.button {
  width: 200px;
  height: 57px;
  background-color: #b57556;
  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  border-radius: 50px;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}
