.marketContainer {
  height: 677px;
  background-color: #204379;
  border-radius: 50px 50px 0 0;
  display: grid;
  place-items: center;
  .marketContent {
    display: flex;
    flex-direction: column;
    .marketTitle {
      display: grid;
      font-weight: 700;
      font-size: 20px;
      line-height: 200%;
      text-align: center;
      letter-spacing: 0.2em;
      color: #ffffff;
    }
    img {
      width: 376px;
      height: 493px;
      margin: 24px 0 40px 0;
    }
  }
}
